@model SmartSales.Models.Campany

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campany</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campany_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campany_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campany_Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campany_Owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campany_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campany_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campany_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campany_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campany_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campany_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campany_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campany_Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Campany_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
