@model SmartSales.Models.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client_IDCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client_IDCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client_Address_Work)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client_Address_Work)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Client_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
